
# Pandas 

- CityU COM5507 201819A - Unit 1 and part of Unit 3: Python and data science tools 
- **19 Sep 2018, Week 3: Python in a Notebook & data science tools**


- Course Instructor: [Dr. Xinzhi Zhang](www.drxinzhizhang.com)  (JOUR, Hong Kong Baptist University) 
  - xzzhang2@gmail.com


- The codes in this notebook are modified from various sources. All codes are for educational purposes only and released under the CC1.0.

## What is Pandas? 

Pandas = panel, dataframe, and series. It is a "flexible and powerful data analysis / manipulation library for Python, providing labeled data structures similar to R data.frame objects, statistical functions, and much more." (Pandas GitHub)

Pandas has an oject called a **Data Frame** which is **like a table**. 

![pd dataframe](pd_dataframe.png)

# Import Pandas

In [ ]:
# import packages

import pandas as pd

# Extra packages
import numpy as np
import matplotlib.pyplot as plt # for plotting
import seaborn as sns # for plotting and styling

# Part 1
### Simple creation and manipulation of Pandas objects
**Key Points:** Pandas has two / three main data types:
* Series (similar to numpy arrays, but with index)
* DataFrames (table or spreadsheet with Series in the columns) [important!]
* Panels (3D version of DataFrame, not as common)

### A Series object in Pandas 

Like an np.array, but we can combine data types and it has its own index

Note: Every column in a DataFrame is a Series

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])  # sth. like a list; np.nan = missing data 
s
print(type(s))

In [ ]:
s[2] # got index

### A data frame object in Pandas

We use `pd.DataFrame(**inputs**)` and can insert almost any data type as an argument

**Function:** `pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`

In [ ]:
df1 = pd.DataFrame({'label': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'value': [1, 2, 3, 4, 5, 6]})
df1

In [ ]:
df1['label']

In [ ]:
df1['label'].str.lower()

In [ ]:
df1['value'].sum()

In [ ]:
# Apply aggregates across numerical entries:
df1.groupby('label').sum()

In [ ]:
# more complex data types 

s1 = 1
s2 = pd.Timestamp('20130102')
s3 = pd.Series(1,index=list(range(4)),dtype='float32')
s4 = np.arange(0,4) # one range
s5 = pd.Categorical(["test","train","test","train"])
s6 = 'foo'
dates = pd.date_range('20130101', periods=4)

In [ ]:
# something like "key" 
df2 = pd.DataFrame({ 'A' : s1,
                    'B' : s2,
                    'C' : s3,
                    'D' : s4,
                    'E' : s5,
                    'F' : s6 },
                 index=dates )  # the first column
df2

In [ ]:
df2.dtypes # "df" is the name of the dataframe;

In [ ]:
df2 = df2.rename(columns = {'F':'hahahah'})

In [ ]:
df2

# Part 2: An example: The stock market 

Data source: https://www.nasdaq.com/symbol/csv/historical 

![stock pic](pd_stock_pic1.png)

## Importing "CSV" data

In [ ]:
# We can download data from the web by using pd.read_csv
# A CSV file is a comma seperated file
# We can use this 'pd.read_csv' method with urls that host csv files

# source: https://www.nasdaq.com/symbol/csv/historical 

dfg = pd.read_csv('HistoricalQuotes_2008-2018_googl.csv')

In [ ]:
print(type(dfg))
dfg.head(10) # show first n values

In [ ]:
dfg.tail(3) # last three

In [ ]:
dfg.columns # returns columns, can be used to loop over

# R names(dfg)

In [ ]:
dfg.index # return

## Convert the index to pandas datetime object

In [ ]:
type(dfg['date'][0])

In [ ]:
dfg.index = pd.to_datetime(dfg['date']) # set index

In [ ]:
dfg.drop(['date'],axis=1,inplace=True)

In [ ]:
dfg.head(10)

In [ ]:
print(type(dfg.index[0]))
dfg.index[0]

In [ ]:
dfg['2018-09-16':'2018-09-10']

## Attributes & general statitics of a Pandas DataFrame

In [ ]:
dfg.shape # 2519 business days in the past 10 years, 5 variables

In [ ]:
dfg.size

In [ ]:
dfg.columns

In [ ]:
# Some general statistics

dfg.describe()

In [ ]:
# Boolean indexing
dfg['open'][dfg['open']>15]  # check what dates the opening > 15

In [ ]:
dfg['open'][dfg['open']>15].head(5)  # check what dates the opening with the firt 5

In [ ]:
# Check where Open, High, Low and Close where greater than X
# dfg[dfg>X].drop('Volume',axis=1).head(3)

In [ ]:
# drop na - not run for now 
## dfg[dfg>X].drop('Volume',axis=1).dropna()

# Comments on dropping and filling NaN values
# A view where we drop any rows with value NnN
# dfg.dropna(how='any')  # this would be used to drop rows with Nan
# dfg.fillna(value=5)    # this would be used to fill NaN values with 5

In [ ]:
# If you want the values in an np array
npg = dfg.values
print(type(npg))
print()
npg

## Selecting or Viewing Data within a DataFrame
Note: While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix. (from 10 min guide to Pandas)

In [ ]:
# Lets print the five first Close prices for Google
# This is a new Series (like a new table)
dfg['close'][0:5]

In [ ]:
# Lets print the 2 column
dfg[['close','open','volume']][0:7]

In [ ]:
# A slice: by rows (row numbers)
dfg[1:5] # 2nd to 4th element

In [ ]:
list1 = [0,1,2,3,4]
list1[1:5]

## .loc()

In [ ]:
# Getting a cross section with .loc - BY VALUES of the index and columns
# df.loc[a:b, x:y], by rows and column location

# Note: You have to know indices and columns

dfg.loc['2017-08-31':'2017-08-21'
        ,
        'open':'low']

## .iloc()

In [ ]:
dfg.columns

In [ ]:
# .iloc slicing at specific location - BY POSITION in the table
# Recall:
# dfg[a:b] by rows
# dfg[[col]] or df[[col1, col2]] by columns
# df.loc[a:b, x:y], by index and column values + location
# df.iloc[3:5,0:2], numeric position in table

dfg.iloc[1:4,3:5] # 2nd to 4th row, 4th to 5th column

In [ ]:
# Data only from row with index value '3'
print (dfg.iloc[3])

In [ ]:
# iloc will accept a range with ':', just like numpy
dfg.iloc[1:3,:]

In [ ]:
# Can also return specific value
print (dfg.iloc[2,1])
# same as above but faster for one single scaler value
print (dfg.iat[2,1])

## More Basic Statistics

In [ ]:
# A quick way to get statistics
dfg.describe()
# dfg.describe()['A'][1]
# dfg.describe()[2:3]

In [ ]:
dfg.describe().loc[['mean','std'],['high','low']]

In [ ]:
dfg.head()

In [ ]:
# We can change the index sorting
dfg.sort_index(axis=0, ascending=True).head()

In [ ]:
# sort by value
dfg.sort_values(by='open')[0:10]

## Masks and Boolean Indexing

In [ ]:
dfg[0:10]

In [ ]:
# mask 1
mg1 = dfg['open'][0:10]>22.40
print (mg1)

In [ ]:
dfg['open'][0:10][dfg['open']>22.40]
# shows only rows with opening price greater than 1115

In [ ]:
# mask 2 full data frame
mg2 = dfg[0:10]>22.50
mg2

In [ ]:
dfg[dfg>22.50].head(10)

In [ ]:
# we can also drop all NaN values
dfg[dfg>22.50].head(10).dropna()

In [ ]:
# like Numpy, sometimes you need an actual copy, not a view or slice of the same data
dfg_same = dfg
dfg_same is dfg

In [ ]:
dfg2 = dfg.copy()
dfg2 is dfg